{% trans_default_domain 'FOSUserBundle' %}


<head>
    <link href="{{ asset('bundles/main/BackEnd/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/main/BackEnd/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/main/BackEnd/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>


    <style>
        .BAC {
            width: 100%;
        }
    </style>
    <style>
        .white-color {
            color: white;
            margin-left: 3px;
        }

        #ABCD {
            text-align: left;
            font-style: normal;
            padding: 10px;
            background: rgba(80, 86, 82, 0.65);
            font-size: 16px;
            font-weight: 500;
        }

        .margin-30 {
            margin: 30px;
        }
    </style>
</head>

<section id="reservation" class="reservation_section bg-grey ">
    <div class="container col-lg-offset-1 col-lg-10">
        <section class="wrapper">
            <div class="row margin-30">

                <section class="panel">
                    <div class="panel-body bio-graph-info">
                        <div class="row">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            <div class="bio-row BAC">
                                <p><strong>Mot de passe actuel:</strong> {{ form_widget(form.current_password) }}</p>
                            </div>
                            <div class="bio-row BAC">
                                <p> {{ form_widget(form.plainPassword) }}</p>
                            </div>
                            <div class="bio-row BAC">
                                <input  class="btn btn-shadow btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
                            </div>
                            {{ form_end(form) }}

    </div>



                    </div>
                </section>


            </div>


            <!-- page end-->
        </section>
    </div>

</section>
