{% extends 'Base.html.twig' %}
{% block AjouterOffre %}
    <section id="reservation" class="reservation_section bg-grey">
        <div class="container padding">
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-sm-offset-0">
                            <section class="panel" id="ABC">
                                <header style="font-size: 20px" class="panel-heading col-sm-offset-0" id="ABCDE">
                                    <strong>Proposez une Offre</strong>
                                </header>
                                <header class="panel-heading">
                                    {{ form_start(form) }}
                                    <table>
                                        {{ form_start(form) }}
                                        <tr class="">

                                            <td>
                                                {{ form_label(form.offre) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.offre) }}
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td>
                                                {{ form_label(form.dateDebut) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.dateDebut) }}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_label(form.dateFin) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.dateFin) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_label(form.description) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.description) }}
                                            </td>
                                        </tr>
                                        {% if etab.partenaire==0  %}
                                            <tr>
                                                <td>
                                                    {{ form_label(form.code_promo) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.code_promo, { 'attr': {'disabled': 'disabled'} }) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ form_label(form.pourcentage) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.pourcentage, { 'attr': {'disabled': 'disabled'} }) }}
                                                </td>
                                            </tr>


                                            {% else %}
                                            <tr>
                                            <td>
                                                {{ form_label(form.code_promo) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.code_promo) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_label(form.pourcentage) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.pourcentage) }}
                                            </td>
                                        </tr>
                                        {% endif %}

                                        <tr>
                                            <td>
                                                {{ form_end(form) }}
                                            </td>

                                        </tr>

                                        <td>
                                            <strong><input value="Ajouter un offre" class="default_btn" type="submit"></strong>
                                        </td>
                                    </table>
                                </header>
                            </section>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </section>
{% endblock %}