{% extends 'baseAdmin.html.twig' %}

{% block Afficher_evenements_Tout %}
    <li><a href="{{ path('all_events_Admin') }}">Afficher Tout</a></li>
{% endblock %}

{% block Trier %}
    <li class="dropdown">
        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"> Trier Par <b class=" fa fa-angle-down"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('Trier_Etablissement',{'critere':'HOA'}) }}"><i class="fa fa-sort-desc"></i> Horaire D'Ouverture</a></li>
            <li><a href="{{ path('Trier_Etablissement',{'critere':'HFD'}) }}"><i class="fa fa-sort-asc"></i> Horaire De Fermeture</a></li>
            <li><a href="{{ path('Trier_Etablissement',{'critere':'BMA'}) }}"><i class="fa fa-sort-desc"></i> Budget Moyen</a></li>
            <li><a href="{{ path('Trier_Etablissement',{'critere':'BMD'}) }}"><i class="fa fa-sort-desc"></i> Budget Moyen</a></li>
        </ul>
    </li>
{% endblock %}

{% block Afficher_Evenement %}
    <section id="main-content">
        <section class="wrapper">
            <div class="directory-info-row">
                <div class="row">
                    {% for demande in demandes %}
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">

                                        <div class="media-body">
                                            <h4>{{ demande.nom }}</h4>


                                            {% if demande.type!='Autres' %}
                                                <p class="A"> <strong>Type : </strong>{{demande.type  }}</p><br>
                                            {% else %}
                                                <p class="A"> <strong>Type : </strong>{{demande.typeLoisirs  }}</p><br>
                                            {% endif %}
                                            <p class="A"> <strong>Adresse : </strong>{{demande.adresse  }}</p><br>
                                            <a href="{{ path('accepter_demande',{'id':demande.id}) }}" class="btn btn-success"><i class="fa fa-eye"></i> Accepter la demande </a>
                                            <a href="{{ path('refuser_demande',{'id':demande.id}) }}" class="btn btn-danger"><i class="fa fa-times"></i> Refuser </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>

{% endblock %}